<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
        <strong>  Eventos </strong>
    </div>
    <div class="card-body">
      <div class="d-flex">
  
        <div class="form-inline mr-auto">
          <div class="form-group mb-2">
            Filtro: <input type="text" 
            class="form-control mr-2" 
            placeholder="Buscar"
           >
            <button class="btn btn-outline-sucess">Buscar</button>
          </div>
        </div>
        <div>
          <button class="btn btn-outline-primary" (click)="novoEvento(template)">
            <i class="fa fa-plus-circle"></i>&nbsp;
            Novo Evento</button>
          </div>
          
        </div>
        <h3>Lista: {{filtroLista}}</h3>
        <table class="table table-striped">
          <thead class="thead-light">
            <tr>
              <th>
                <button class="btn btn-outline-primary"
                (click)='alterarImagem()'>
                <i class="{{mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
                <!--  {{mostrarImagem ? 'Ocultar' : 'Mostrar'}}-->
                
              </button>
              
            </th>
            <th>#</th>
            <th>Tema</th>
            <th>Nome do contato</th>
            <th>Data</th>
            <th>Meio de Contato</th>
            <th>Lote</th>
            <th colspan="2" class="text-center">Opções</th>
          </tr>
        </thead>
        <tbody *ngIf="eventos && eventos.length">
          <!-- diretiva estrututal ng if, ngshow-->
          <tr *ngFor="let evento of eventosFiltrados">
            <td>
              <!--Diretiva Estrutural-->
              <img *ngIf='mostrarImagem'
              src='http://localhost:5000/resources/images/{{evento.imagemURL}}?_ts={{dataAtual}}'
              [style.width.px]="imagemLargura"
              [style.margin.px]="imagemMargem">
              <!--Property Binding-->
            </td>
            <td>{{evento.id}}</td>
            <!--binding entre a propriedade da classe e o template-->
            <!--Interpolação-->
            <td>{{evento.tema | uppercase}}</td>
            <td>{{evento.nome}}</td>
            <td>{{evento.dataEvento}}</td>
            <td>{{evento.meioDeContato}}</td>
            <td>
              <div *ngIf="!evento.lotes.length">
                Não informado
              </div>
              <div *ngIf="evento.lotes.length">
                {{evento.lotes[0].nome| uppercase}}
              </div>
            </td>
            
            <td>
              <div class="btn-group">
                <button class="btn btn-sm btn-success" 
                tooltip="Editar" (click)="editarEvento(evento, template)">
                <i class="fa fa-edit"></i>
              </button>    
              <button class="btn btn-sm btn-danger"
              tooltip="Excluir" (click)="openModalDelete(evento)">
              <i class="fa fa-eraser"></i>   
            </button> 
          </div>
        </td>
        <td>
          <a [routerLink]= "['/evento', evento.id, 'edit']" tooltip="Edição Detalhada" class="btn btn-sm btn-warning">
            <i class="fa fa-edit"></i>
          </a>

        </td>
      </tr>
      </tbody>
      <tfoot *ngIf="!eventos">
        <tr>
          <td colspan="7" class="text-center">
            <h4>
              Nenhum evento encontrado!
            </h4>
          </td>
        </tr>
      </tfoot>
      </table>
      </div>


      <div bsModal #template="bs-modal" [config]="{ignoreBackdropClick: true, keyboard: false, animated: true}  " class="modal animated fadeIn"  tabindex="-1"
      role="dialog" aria-labelledby="dialog-sizes-name1">
      <div class="modal-dialog modal-lg modal-primary">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="dialog-sizes-name1" class="modal-title pull-left">Registrar Evento</h4>
            <button type="button"  class="close pull-right" (click)="template.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form [formGroup]= "registerForm">
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label>Tema</label>
                      <input type="text" class="form-control" 
                      [ngClass]="{'is-invalid': registerForm.get('tema').errors
                      && registerForm.get('tema').touched}"
                      formControlName="tema"  placeholder="Insira o tema">
                      <div *ngIf="registerForm.get('tema').hasError('required') 
                      && registerForm.get('tema').touched" class="invalid-feedback">
                      O tema é obrigatório.
                    </div>
                    
                    <div *ngIf="registerForm.get('tema').hasError('minlength') 
                    && registerForm.get('tema').touched" class="invalid-feedback">
                    Tema deve ter no mínimo 4 caracteres.
                  </div>
                  
                  <div *ngIf="registerForm.get('tema').hasError('maxlength') 
                  && registerForm.get('tema').touched" class="invalid-feedback">
                  Tema deve ter no máximo 50 caracteres.
                </div>
                </div>
                </div>  
                <div class="form-row">
                  <div class="form-group col-md-8">
                    <label>Nome do contato</label>
                    <input type="text" class="form-control" 
                    [ngClass]="{'is-invalid': registerForm.get('nome').errors
                    && registerForm.get('nome').touched}"
                    formControlName="nome" placeholder="">
                    <div *ngIf="registerForm.get('nome').hasError('required') 
                    && registerForm.get('nome').touched" class="invalid-feedback">
                    O nome é obrigatório
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label>Data e Hora</label>

                  <input type="text" class="form-control" 
                  bsDatepicker  
                  value="{{ dataAtualInput| DateTimeFormatPipe}}"
                  [(ngModel)]="dataEvento"
             
                  
                  [bsConfig]= "{ dateInputFormat : 'DD/MM/YYYY '}"
                  [ngClass]="{'is-invalid': registerForm.get('dataEvento').errors
                  && registerForm.get('dataEvento').touched}"
                  formControlName="dataEvento" placeholder="">
                  <div *ngIf="registerForm.get('dataEvento').hasError('required') 
                  && registerForm.get('dataEvento').touched" class="invalid-feedback">
                  A data e hora são obrigatórios
                </div>
                </div>
                </div>  
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label>Meio de Contato</label>
                    <input type="text" class="form-control" 
                    [ngClass]="{'is-invalid': registerForm.get('meioDeContato').errors
                    && registerForm.get('meioDeContato').touched}"
                    formControlName="meioDeContato" placeholder="">
                    <div *ngIf="registerForm.get('meioDeContato').hasError('required') 
                    && registerForm.get('meioDeContato').touched" class="invalid-feedback">
                  É necessário selecionar o meio de contato!
                  </div>
                  
                  
                </div>

                <div class="form-group col-md-3">
                  <label>Fonte</label>
                  <input type="text" class="form-control" 
                  [ngClass]="{'is-invalid': registerForm.get('fonte').errors
                  && registerForm.get('fonte').touched}"
                  formControlName="fonte" placeholder="">
                  <div *ngIf="registerForm.get('fonte').hasError('required') 
                  && registerForm.get('fonte').touched" class="invalid-feedback">
                É necessário selecionar a origem!
                </div>
              </div>
                <!-- <div class="form-group col-md-9">
                  <label>Imagem</label>
                  <table>
                    <tr>
                      <td> <button class="btn btn-success" (click)="file.click()">
                        Enviar Imagem
          
                      </button>
                  
                      <input type="file" #file
                      [ngClass]="{'is-invalid': registerForm.get('imagemURL').errors
                      && registerForm.get('imagemURL').touched}" (change)="onFileChange($event)"
                      class="form-control" formControlName="imagemURL" placeholder=""
                      style="display: none"> </td>
                    </tr>
                  </table>
                  
                  <div *ngIf="registerForm.get('imagemURL').hasError('required') 
                  && registerForm.get('imagemURL').touched" class="invalid-feedback">
                  Imagem é obrigatório
                  
                </div>
                </div> -->
                </div>  
                
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>Telefone</label>
                    <input type="text"
                    [ngClass]="{'is-invalid': registerForm.get('telefone').errors
                    && registerForm.get('telefone').touched}"
                    class="form-control" formControlName="telefone" placeholder="">
                    <div *ngIf="registerForm.get('telefone').hasError('required') 
                    && registerForm.get('telefone').touched" class="invalid-feedback">
                    O telefone é obrigatório
                  </div>
                </div>
                <div class="form-group col-md-8">
                  <label>Email</label>
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    
                    <input type="text" 
                    [ngClass]="{'is-invalid': registerForm.get('email').errors
                    && registerForm.get('email').touched}"
                    class="form-control" formControlName="email" placeholder="">
                    <div *ngIf="registerForm.get('email').hasError('required') 
                    && registerForm.get('email').touched" class="invalid-feedback"
                    class="invalid-feedback"> 
                    O endereço de email é obrigatório
                  </div>
                  
                  <div *ngIf="registerForm.get('email').hasError('email') 
                  && registerForm.get('email').touched" class="invalid-feedback"
                  class="invalid-feedback">
                  O email deve ser válido
                </div>
                </div>
                </div>
                </div> 
                </form>
          </div>
          
          <div class="modal-footer">
            <button class="btn btn-secondary" (click)="template.hide()">
                <i class="fa fa-ban"></i> 
              Fechar
            </button>
            <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="salvarAlteracao(template)">
                <i class="fa fa-check"></i> 
              Salvar Alterações
            </button>
            
          </div>
        </div>
      </div>
      </div>
     
    </div>
  </div>


