<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
        <strong>  Eventos </strong>
    </div>
    <div class="card-body">
      <div class="d-flex">
  
        <div class="form-inline mr-auto">
          <div class="form-group mb-2">
            Filtro: <input type="text" 
            class="form-control mr-2" 
            placeholder="Buscar"
           >
            <button class="btn btn-outline-sucess">Buscar</button>
          </div>
        </div>
        <div>
          <button class="btn btn-outline-primary" (click)="novoEvento(template)">
            <i class="fa fa-plus-circle"></i>&nbsp;
            Novo Evento</button>
          </div>
          
        </div>
        <h3>Lista: {{filtroLista}}</h3>
        <table class="table table-striped">
          <thead class="thead-light">
            <tr>
              <th>
                <!-- <button class="btn btn-outline-primary"
                (click)='alterarImagem()'>
                <i class="{{mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
                  {{mostrarImagem ? 'Ocultar' : 'Mostrar'}}
                
              </button> -->
              
            </th>
            
            <th>Descrição</th>
            <th>Nome do contato</th>
            <th>Característica</th>
            <th>Data</th>
            <th>Meio de Contato</th>
            <th>Fonte</th>
            <th colspan="2" class="text-center">Opções</th>
          </tr>
        </thead>
        <tbody *ngIf="eventos && eventos.length">
          <!-- diretiva estrututal ng if, ngshow-->
          <tr *ngFor="let evento of eventosFiltrados">
            <td>
              <!--Diretiva Estrutural-->
              <!-- <img *ngIf='mostrarImagem'
              src='http://localhost:5000/resources/images/{{evento.imagemURL}}?_ts={{dataAtual}}'
              [style.width.px]="imagemLargura"
              [style.margin.px]="imagemMargem"> -->
              <!--Property Binding-->
            </td>
           
            <!--binding entre a propriedade da classe e o template-->
            <!--Interpolação-->
            <td>{{evento.tema | uppercase}}</td>
            <td>{{evento.nome}}</td>
            <td>{{evento.caracteristica}}</td>
            <td>{{evento.dataEvento  }}</td>
            <td>{{evento.meioDeContato }}</td>
            <td>{{evento.fonte }}</td>
            <!-- <td>
              <div *ngIf="!evento.lotes.length">
                Não informado
              </div>
              <div *ngIf="evento.lotes.length">
                {{evento.lotes[0].nome| uppercase}}
              </div>
            </td> -->
            
            <td>
              <div class="btn-group">
                <button class="btn btn-sm btn-success" 
                tooltip="Editar" (click)="editarEvento(evento, template)">
                <i class="fa fa-edit"></i>
              </button>    
              <button class="btn btn-sm btn-danger"
              tooltip="Excluir" (click)="openModalDelete(evento)">
              <i class="fa fa-eraser"></i>   
            </button> 
          </div>
        </td>
        <td>
          <a [routerLink]= "['/evento', evento.id, 'edit']" tooltip="Edição Detalhada" class="btn btn-sm btn-warning">
            <i class="fa fa-edit"></i>
          </a>

        </td>
      </tr>
      </tbody>
      <tfoot *ngIf="!eventos">
        <tr>
          <td colspan="7" class="text-center">
            <h4>
              Nenhum evento encontrado!
            </h4>
          </td>
        </tr>
      </tfoot>
      </table>
      </div>


      <div bsModal #template="bs-modal" [config]="{ignoreBackdropClick: true, keyboard: false, animated: true}  " class="modal animated fadeIn"  tabindex="-1"
      role="dialog" aria-labelledby="dialog-sizes-name1">
      <div class="modal-dialog modal-lg modal-primary">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="dialog-sizes-name1" class="modal-title pull-left">Registrar Evento</h4>
            <button type="button"  class="close pull-right" (click)="template.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form [formGroup]= "registerForm">
                  <div class="form-row">
                      <div class="col-md-15 mb-4">
                         
                          <tabset>
                            <tab>
                              <ng-template tabHeading><i class="icon-note">-Informações Gerais</i></ng-template>
                              <div class="form-group col-md-12">
                                  <label>Descrição</label>
                                  <input type="text" class="form-control" 
                                  [ngClass]="{'is-invalid': registerForm.get('tema').errors
                                  && registerForm.get('tema').touched}"
                                  formControlName="tema"  placeholder="Insira a descrição">
                                  <div *ngIf="registerForm.get('tema').hasError('required') 
                                  && registerForm.get('tema').touched" class="invalid-feedback">
                                  A descrição é obrigatória.
                                </div>
                                
                                <div *ngIf="registerForm.get('tema').hasError('minlength') 
                                && registerForm.get('tema').touched" class="invalid-feedback">
                                Tema deve ter no mínimo 4 caracteres.
                              </div>
                              
                              <div *ngIf="registerForm.get('tema').hasError('maxlength') 
                              && registerForm.get('tema').touched" class="invalid-feedback">
                              Tema deve ter no máximo 50 caracteres.
                            </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                  <label>Nome do contato</label>
                                  <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                                  <input type="text" class="form-control" 
                                  [ngClass]="{'is-invalid': registerForm.get('nome').errors
                                  && registerForm.get('nome').touched}"
                                  formControlName="nome" placeholder="Insira o nome da pessoa ou indique anônimato">
                                  <div *ngIf="registerForm.get('nome').hasError('required') 
                                  && registerForm.get('nome').touched" class="invalid-feedback">
                                  O nome é obrigatório
                                </div>
                              </div>
                            </div>
                              <div class="form-group col-md-4">
                                  
                                <label>Data do contato</label>
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                <input type="text" class="form-control" 
                                bsDatepicker 
                                #dp="bsDatepicker"
                             
                                [(ngModel)]="dataEvento"
                                 [bsConfig]="{ dateInputFormat : 'DD/MM/YYYY' }"
                                [ngClass]="{'is-invalid': registerForm.get('dataEvento').errors
                                && registerForm.get('dataEvento').touched}"
                                formControlName="dataEvento" placeholder="">
                                <div *ngIf="registerForm.get('dataEvento').hasError('required') 
                                && registerForm.get('dataEvento').touched" class="invalid-feedback">
                                A data do contato é obrigatória
                              </div>
                              </div>
                            </div>
                              </div> 

                              <div class="form-row">

                                  <div class="form-group col-md-4">
                                      <label for="fonte">Fonte</label>
                    
                                      <select name="fonte" id="fonte" formControlName="fonte" class="form-control">
                                        <option value="Interna">Interna</option>
                                        <option value="Externa">Externa</option>
                    
                                      </select>
                            
                                       <div class="text-danger" *ngIf=" registerForm.get('fonte').invalid &&  registerForm.get('fonte').touched">
                                          <div *ngIf=" registerForm.get('fonte').hasError('required') ">Dado Obrigatório</div>
                                          
                                        </div> 
                                     
                                    </div>
                                    <!-- <div class="form-group col-md-2">
                                    <label class="switch switch-3d switch-primary" >
                                      <br>
              
                                      
                                 
                                        <input type="checkbox" formControlName="respostaPadrao" class="form-control" class="switch-input" [(ngModel)]="respostaPadrao" binary="Sim">
                                        <span class="switch-slider"></span>
                                      </label>
                                    </div> -->
                                <div class="form-group col-md-4">
                                  <label>Meio de Contato</label>
                                  <select name="fonte" class="form-control" id="meioDeContato" [ngClass]="{'is-invalid': registerForm.get('meioDeContato').errors
                                  && registerForm.get('meioDeContato').touched}"
                                  formControlName="meioDeContato" placeholder="">
                                    <option value="Telefonico">Telefônico</option>
                                    <option value="Site">Site</option>
                                    <option value="Redes Sociais">Redes Sociais</option>
                                    <option value="E-mail">E-mail</option>
                                    <option value="Formulario Impresso">Formulário Impresso</option>
                                    <div *ngIf="registerForm.get('meioDeContato').hasError('required') 
                                    && registerForm.get('meioDeContato').touched" class="invalid-feedback">
                                  É necessário selecionar o meio de contato!
                                  </div>
                                  </select>
              
              
                
                                </div>
              
              
                                <div class="form-group col-md-4">
                                    <label>Classificação do contato</label>
                                    <select name="fonte" class="form-control" id="classificacao" [ngClass]="{'is-invalid': registerForm.get('classificacao').errors
                                    && registerForm.get('classificacao').touched}"
                                    formControlName="classificacao" placeholder="">
                                      <option value="Cliente">Cliente</option>
                                      <option value="Representatnte">Representante</option>
                                      <option value="Comunidade">Comunidade</option>
                                      <option value="Colaborador">Colaborador</option>
                                      <option value="Prestador de Serviço">Prestador de Serviço</option>
                                      <option value="Fornecedor">Fornecedor</option>
                                      <div *ngIf="registerForm.get('classificacao').hasError('required') 
                                      && registerForm.get('classificacao').touched" class="invalid-feedback">
                                    É necessário selecionar classificação de contato!
                                    </div>
                                    </select>
                
              
                                  </div>
              
                                  <div class="form-group col-md-4">
                                    <label>Característica do contato</label>
                                    <select name="fonte" class="form-control" id="caracteristica" [ngClass]="{'is-invalid': registerForm.get('caracteristica').errors
                                    && registerForm.get('caracteristica').touched}"
                                    formControlName="caracteristica" placeholder="">
                                      <option value="Denúncia Interna">Denúncia Interna</option>
                                      <option value="Denúncia Externa">Denúncia Externa</option>
                                      <option value="Reclamação">Reclamação</option>
                                      <option value="Dúvida">Dúvida</option>
                                      <option value="Sugestão">Sugestão</option>
                                      <option value="Contato Comercial">Contato Comercial</option>
                                      <option value="Pós-Venda">Pós-Venda</option>
                                      <option value="Pesquisa de Satisfação">Pesquisa de Satisfação</option>
                                      <option value="Como estou Dirigindo">Como estou Dirigindo</option>
                                      <option value="Agradecimento">Agradecimento</option>
                                      <div *ngIf="registerForm.get('caracteristica').hasError('required') 
                                      && registerForm.get('caracteristica').touched" class="invalid-feedback">
                                    É necessário selecionar classificação de contato!
                                    </div>
                                    </select>
                
                                    
                  
                                  </div>
              
              
                                  <div class="form-group col-md-4">
                                      <label>Área(s) Envolvida(s)</label>
                                      <input type="text"
                                      [ngClass]="{'is-invalid': registerForm.get('areaEnvolvida').errors
                                      && registerForm.get('areaEnvolvida').touched}"
                                      class="form-control" formControlName="areaEnvolvida" placeholder="">
                                      <div *ngIf="registerForm.get('areaEnvolvida').hasError('required') 
                                      && registerForm.get('areaEnvolvida').touched" class="invalid-feedback">
                                      Área envolvida é obrigatório.
                                    </div>
                                  </div>
              
                                  <div class="form-group col-md-4">
                                      <label>Área Responsável</label>
                                      <select name="fonte" class="form-control" id="areaResponsavel" [ngClass]="{'is-invalid': registerForm.get('areaResponsavel').errors
                                      && registerForm.get('areaResponsavel').touched}"
                                      formControlName="areaResponsavel" placeholder="">
                                        <option value="Recursos Humanos">RH</option>
                                        <option value="Comercial">Comercial</option>
                                        <option value="Logística">Logística</option>
                                        <option value="Qualidade">Qualidade</option>
                                        <option value="Conselho">Conselho</option>
                                        
                                        <div *ngIf="registerForm.get('areaResponsavel').hasError('required') 
                                        && registerForm.get('areaResponsavel').touched" class="invalid-feedback">
                                      É necessário selecionar classificação de contato!
                                      </div>
                                      </select>
                  
                                      
                    
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                          <label>Celular</label>
                                          <input type="text" mask="(00) 00000-0000"
                                          class="form-control" formControlName="celular" placeholder="">
                                        </div>
                                    
                      
                                      <div class="form-group col-md-6">
                                          <label>Telefone</label>
                                          <input type="text" mask="(00) 0000-0000"
                                          [ngClass]="{'is-invalid': registerForm.get('telefone').errors
                                          && registerForm.get('telefone').touched}"
                                          class="form-control" formControlName="telefone" placeholder="">
                                          <div *ngIf="registerForm.get('telefone').hasError('required') 
                                          && registerForm.get('telefone').touched" class="invalid-feedback">
                                          O telefone é obrigatório
                                        </div>
                                      </div>
                      
                                    </div> 
                                 
                               
                                
                                
                              </div>



                            </tab>
                            <tab>
                              <ng-template tabHeading><i class="icon-action-undo"></i>-Resposta Tratativa</ng-template>
                              <div class="form-group col-md-12">
                                  <label>Email</label>
                                  <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="fa fa-envelope-open-o"></i></span>
                                      
                                
                                    <input type="text" 
                                    [ngClass]="{'is-invalid': registerForm.get('email').errors
                                    && registerForm.get('email').touched}"
                                    class="form-control" formControlName="email" placeholder="Insira o endereço de e-mail">
                                    <div *ngIf="registerForm.get('email').hasError('required') 
                                    && registerForm.get('email').touched" class="invalid-feedback"
                                    class="invalid-feedback"> 
                                    O endereço de email é obrigatório
                                  </div>
                                  
                                  <div *ngIf="registerForm.get('email').hasError('email') 
                                  && registerForm.get('email').touched" class="invalid-feedback"
                                  class="invalid-feedback">
                                  O email deve ser válido
                                </div>
                                </div>
                                </div>
                            </tab>
                            <tab>
                              <ng-template tabHeading><i class="icon-pie-chart"></i></ng-template>
                              TESTE
                            </tab>
                          </tabset>
                        </div>
                      </div>
                   
  
          
               
                

                
                <!-- <div class="form-group col-md-9">
                  <label>Imagem</label>
                  <table>
                    <tr>
                      <td> <button class="btn btn-success" (click)="file.click()">
                        Enviar Imagem
          
                      </button>
                  
                      <input type="file" #file
                      [ngClass]="{'is-invalid': registerForm.get('imagemURL').errors
                      && registerForm.get('imagemURL').touched}" (change)="onFileChange($event)"
                      class="form-control" formControlName="imagemURL" placeholder=""
                      style="display: none"> </td>
                    </tr>
                  </table>
                  
                  <div *ngIf="registerForm.get('imagemURL').hasError('required') 
                  && registerForm.get('imagemURL').touched" class="invalid-feedback">
                  Imagem é obrigatório
                  
                </div>
                </div></div>   -->
                
                
                
                </form>
          </div>
          
          <div class="modal-footer">
            <button class="btn btn-secondary" (click)="template.hide()">
                <i class="fa fa-ban"></i> 
              Fechar
            </button>
            <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="salvarAlteracao(template)">
                <i class="fa fa-check"></i> 
              Salvar Alterações
            </button>
            
          </div>
        </div>
      </div>
      </div>
     
    </div>
  </div>


