@model RelacionaW3.MVC.Models.RespostaViewModel;
@{
    ViewData["Title"] = "Resposta";
}

<h2>Resposta</h2>
<hr />


<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
        <i class="fa fa-reply-all"></i> 
      <strong>Registrar Retorno</strong>
    </div>
    <hr>
<form asp-controller="Resposta" asp-action="Create" method="post">
    <input type="hidden" asp-for="Id"  />

    <div class="form-group">
        <div class="col-4">
            <label>Data do Retorno: <span class="text-danger">*</span></label>
            <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            <input asp-for="Data" type="text" id="txtDataRetorno"  class="form-control datepicker data" required />
            <span asp-validation-for="Data"  class="text-danger"></span>
        </div>
    </div>

     <div class="form-group">
        <div class="col-4">
            <label>Pessoa: <span class="text-danger">*</span></label>
             <div class="input-group-prepend">
             <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
            <select asp-for="IdPessoa"  class="form-control" asp-items="ViewBag.IdPessoa" input-lg></select>
            <span asp-validation-for="IdPessoa" class="text-danger"></span>
             <button type="button" class="btn btn btn-primary btn-3d" onclick="CreatePerson()">
                                          <i class="fa fa-plus"></i>  
            </button>
        </div>
        
    </div>

    <div class="form-group">
        <div class="col-4">
            <label>Eventos: <span class="text-danger">*</span></label>
             <div class="input-group-prepend">
             <span class="input-group-text"><i class="fa fa-book"></i></span>
            <select id="cboEvento"   class="form-control"asp-items="ViewBag.IdEvento" input-lg></select>
             <button type="button" class="btn btn btn-primary btn-3d" onclick="CreateEvento()">
                                          <i class="fa fa-plus"></i>  
            </button>
        </div>
    </div>


    <div class="form-group col-md-5">
                <label>Resposta: <span class="text-danger">*</span></label>          
                <textarea asp-for="Descricao" rows="5" required type="text" class="form-control"  placeholder="Insira a observação"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
     </div>

   

    <div class="form-group">
        <div class="col-4">
            <label>Prazo Final:</label>
            <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            <input asp-for="Prazo" type="text" id="txtPrazoFinal" required class="form-control datepicker data" />
            <span asp-validation-for="Prazo"  class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">

        <div class="form-group col-md-4">
                                    <label>Satisfação do Retorno:</label>
                                      <select asp-for="VerificaRetorno" id="txtVerificaRetorno" class="form-control">
                                      <span asp-validation-for="VerificaRetorno" class="text-danger"></span>
                                      <option value="">Selecionar</option>
                                      <option value="Sim">Sim</option>
                                      <option value="Não">Não</option>
                                      
                                      
                                    </select>
           
                  
                                  </div>
         <div class="form-group col-md-5">
                <label >Observações:</label>
                                       
                <textarea asp-for="Observacoes" rows="5" type="text" class="form-control" placeholder="Insira a observação"></textarea>
                <span asp-validation-for="Observacoes" class="text-danger"></span>
          </div>

        <div class="col-md-2">
            <br />
            <button type="button" class="btn btn-info" onclick="AddEvento()">Adicionar</button>
            <br />
        </div>        
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead class="thread-inverse">
                    <tr style="background-color:#f6f6f6;">
                        <th>Evento</th>
                        <th>Data do retorno</th>
                        <th>Prazo final</th>
                        <th>Satisfação de retorno</th>
                    </tr>
                </thead>
                <tbody id="gridEventos"></tbody>
            </table>
        </div>
    </div>

    <textarea asp-for="JsonEventos" id="txtJsonEventos" class="col" style="display:none;"></textarea>

    <br />
   <div class="card-footer">

        <button type="button" class="btn btn-info" onclick="New()">Limpar</button>
        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>Gravar</button>
        <button type="button" class="btn btn-warning" onclick="Return()">Voltar</button>
       
       
       
      </div>
</form>

 </div>
  </div>


@section Scripts{

    <script>
        $(".datepicker").datepicker({
            autoclose: true,
            calendarWeeks: true,
            clearBtn: true,
            todayBtn: false,
            todayHighlight: true,
            format: "dd/mm/yyyy",
            language: "pt-BR"

        })
    </script>

    <script>
    jQuery("input.data")
        .mask("99/99/9999")
        .focusout(function (event) {  
            var target, data, element;  
            target = (event.currentTarget) ? event.currentTarget : event.srcElement;  
            data = target.value.replace(/\D/g, '');
            element = $(target);  
            element.unmask();  
            if(data.length > 10) {  
                element.mask("99/99/9999");  
            } else {  
                element.mask("99/99/9999");  
            }  
        });
</script>

  
<script>
    var Items = new Object();
    Items.Eventos = new Array();
    var gridEventos = document.getElementById("gridEventos");

    function AddEvento() {
        var IdEvento = document.getElementById("cboEvento");
        var Data = document.getElementById("txtDataRetorno").value;
        var Prazo = document.getElementById("txtPrazoFinal").value;
        var VerificaRetorno = document.getElementById("txtVerificaRetorno").value;
      
        Items.Eventos.push({
            "IdEvento": IdEvento.value,
            "Data": Data,
            "Prazo": Prazo,
            "VerificaRetorno": VerificaRetorno
          
        });

        document.getElementById("txtJsonEventos").value = JSON.stringify(Items.Eventos);

        var linhaGrid =
            "<tr id='" + IdEvento.value + "'>" +
            "<td>" + IdEvento.options[IdEvento.selectedIndex].text + "</td>" +
            "<td>" + Data + "</td>" +
            "<td>" + Prazo + "</td>" +
            "<td>" + VerificaRetorno + "</td>" +
            "</tr>";

        gridEventos.innerHTML += linhaGrid;

        document.getElementById("cboEvento").selectedIndex = -1;            
    }
    
</script>
   
<script>
    function New() {
        window.location = window.origin + "\\Resposta\\Create";
    }
    function Return() {
        window.location = window.origin + "\\Resposta\\Index";
    }
    function CreatePerson() {
        window.location = window.origin + "\\Pessoa\\Create\\";
    }
    function CreateEvento() {
        window.location = window.origin + "\\Evento\\Create\\";
    } 
</script>

}