@using Microsoft.AspNetCore.Identity

@inject SignInManager<RelacionaW3.Dominio.Models.Usuario> SignInManager
@inject UserManager<RelacionaW3.Dominio.Models.Usuario> UserManager



<div class="nav-item dropdown">
  <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <img class="img-avatar" src="~/images/avatars/6.png" alt="admin@bootstrapmaster.com">
  </a>

  <div class="dropdown-menu dropdown-menu-right">
    <div class="dropdown-header text-center">
      <strong>Conta</strong>
    </div>
    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Usuário" >
      <i class="fa fa-bell-o"></i>  
        @UserManager.GetUserName(User)
      <span class="badge badge-info"></span>
    </a>
    <!-- <a class="dropdown-item" href="#">
      <i class="fa fa-envelope-o"></i> Messages
      <span class="badge badge-success">42</span>
    </a>
    <a class="dropdown-item" href="#">
      <i class="fa fa-tasks"></i> Tasks
      <span class="badge badge-danger">42</span>
    </a>
    <a class="dropdown-item" href="#">
      <i class="fa fa-comments"></i> Comments
      <span class="badge badge-warning">42</span>
    </a> -->
    <div class="dropdown-header text-center">
      <strong>Opções</strong>
    </div>

    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
      <i class="fa fa-user"></i> Perfil
    </a>

    <a class="dropdown-item" href="#">
      <i class="fa fa-wrench"></i> Configurações 
    </a>
    <!-- <a class="dropdown-item" href="#">
      <i class="fa fa-usd"></i> Payments
      <span class="badge badge-secondary">42</span>
    </a>
    <a class="dropdown-item" href="#">
      <i class="fa fa-file"></i> Projects
      <span class="badge badge-primary">42</span>
    </a> -->
    <div class="divider"></div>
    <a class="dropdown-item" href="#">
      <i class="fa fa-shield"></i> Bloquear 
    </a>

    <form asp-controller="Usuario" asp-action="Logout" asp-route-returnUrl="@Url.Page("/Usuario/Login", new {area = ""})" method="post" id="logoutForm">
      <script>
        function logout() {
         
         $('#logoutForm').submit();

        }
       
      </script>

      

      <script>
    
        </script>
      <a class="dropdown-item" href="javascript: void(0)"  onclick="logout();">
        <i class="fa fa-lock"></i> Sair da Conta
      </a>
    </form>

  </div>
</div>
