<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Usuários
    </div>
    <div class="card-body">
      <div class="d-flex">
  
        <div class="form-inline mr-auto">
          <div class="form-group mb-2">
            Filtro: <input type="text" 
            class="form-control mr-2" 
            placeholder="Buscar"
           >
            <button class="btn btn-outline-sucess">Buscar</button>
          </div>
        </div>
        <div>
          <button class="btn btn-outline-primary" (click)="cadastrarUsuario()">
            <i class="fa fa-plus-circle"></i>&nbsp;
            Novo Usuário</button>
          </div>
          
        </div>
        <h3>Filtro: </h3>
        <table class="table table-striped">
          <thead class="thead-light">
            <tr>
            <th>#</th>
            <th>Nome Completo</th>
            <th>Usuário</th>
       
            <th colspan="2" class="text-center">Opções</th>
          </tr>
        </thead>
        <tbody *ngIf="users && users.length">
          <!-- diretiva estrututal ng if, ngshow-->
          <tr *ngFor="let user of usersFiltrados">
            
            <td>{{user.id}}</td>
            <!--binding entre a propriedade da classe e o template-->
            <!--Interpolação-->
            <td>{{user.fullName | uppercase}}</td>
            <td>{{user.userName}}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-sm btn-success" 
                tooltip="Editar" (click)="editarUsuario(user)">
                <i class="fa fa-edit"></i>
              </button>    
              <button class="btn btn-sm btn-danger"
              tooltip="Excluir" (click)="openModalDelete(user)">
              <i class="fa fa-eraser"></i>   
            </button> 
          </div>
        </td>
        <td>
          <a [routerLink]= "['/user', user.id, 'edit']" tooltip="Edição Detalhada" class="btn btn-sm btn-warning">
            <i class="fa fa-edit"></i>
          </a>

        </td>
      </tr>
      </tbody>
      <tfoot *ngIf="!eventos">
        <tr>
          <td colspan="7" class="text-center">
            <h4>
            Carregando
            </h4>
          </td>
        </tr>
      </tfoot>
      </table>
      </div>

<!-- 
      <div bsModal #template="bs-modal" class="modal fade" tabindex="-1"
      role="dialog" aria-labelledby="dialog-sizes-name1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="dialog-sizes-name1" class="modal-title pull-left">Cadastrar Usuário</h4>
            <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form [formGroup]= "registerForm">
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label>Nome Completo</label>
                      <input type="text" class="form-control" 
                      [ngClass]="{'is-invalid': registerForm.get('fullName').errors
                      && registerForm.get('fullName').touched}"
                      formControlName="fullName"  placeholder="Insira o nome completo">
                      <div *ngIf="registerForm.get('fullName').hasError('required') 
                      && registerForm.get('fullName').touched" class="invalid-feedback">
                      O tema é obrigatório.
                    </div>
                    
                    <div *ngIf="registerForm.get('tema').hasError('minlength') 
                    && registerForm.get('tema').touched" class="invalid-feedback">
                    Tema deve ter no mínimo 4 caracteres.
                  </div>
                  
                  <div *ngIf="registerForm.get('tema').hasError('maxlength') 
                  && registerForm.get('tema').touched" class="invalid-feedback">
                  Tema deve ter no máximo 50 caracteres.
                </div>
                </div>
                </div>  
                <div class="form-row">
                  <div class="form-group col-md-8">
                    <label>Local</label>
                    <input type="text" class="form-control" 
                    [ngClass]="{'is-invalid': registerForm.get('local').errors
                    && registerForm.get('local').touched}"
                    formControlName="local" placeholder="">
                    <div *ngIf="registerForm.get('local').hasError('required') 
                    && registerForm.get('local').touched" class="invalid-feedback">
                    O local é obrigatório
                  </div>
                </div>
                </div>  
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label>Qtd Pessoas</label>
                    <input type="text" class="form-control" 
                    [ngClass]="{'is-invalid': registerForm.get('qtdPessoas').errors
                    && registerForm.get('qtdPessoas').touched}"
                    formControlName="qtdPessoas" placeholder="">
                    <div *ngIf="registerForm.get('qtdPessoas').hasError('required') 
                    && registerForm.get('qtdPessoas').touched" class="invalid-feedback">
                    A quantidade de pessoas é obrigatório
                  </div>
                  
                  <div *ngIf="registerForm.get('qtdPessoas').hasError('maxlength') 
                  && registerForm.get('qtdPessoas').touched" class="invalid-feedback">
                  A quantidade de pessoas deve ser menor que 120.000.00
                </div>
                </div>
                
                </div>  
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>Telefone</label>
                    <input type="text"
                    [ngClass]="{'is-invalid': registerForm.get('telefone').errors
                    && registerForm.get('telefone').touched}"
                    class="form-control" formControlName="telefone" placeholder="">
                    <div *ngIf="registerForm.get('telefone').hasError('required') 
                    && registerForm.get('telefone').touched" class="invalid-feedback">
                    O telefone é obrigatório
                  </div>
                </div>
                <div class="form-group col-md-8">
                  <label>Email</label>
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    
                    <input type="text" 
                    [ngClass]="{'is-invalid': registerForm.get('email').errors
                    && registerForm.get('email').touched}"
                    class="form-control" formControlName="email" placeholder="">
                    <div *ngIf="registerForm.get('email').hasError('required') 
                    && registerForm.get('email').touched" class="invalid-feedback"
                    class="invalid-feedback"> 
                    O endereço de email é obrigatório
                  </div>
                  
                  <div *ngIf="registerForm.get('email').hasError('email') 
                  && registerForm.get('email').touched" class="invalid-feedback"
                  class="invalid-feedback">
                  O email deve ser válido
                </div>
                </div>
                </div>
                </div> 
                </form>
          </div>
          
          <div class="modal-footer">
            <button class="btn btn-secondary" (click)="template.hide()">
              Fechar
            </button>
            <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="salvarAlteracao(template)">
              Salvar Alterações
            </button>
            
          </div>
        </div>
      </div>
      </div>
      -->
    </div>
  </div>


